<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">



<bean id ="stu" class="com.cjc.model.Student" autowire="byName">
<property name="rollno" value="201"></property>
<property name="name" value="Naman"></property>
</bean>

<!-- When we use byName then bean id is same as reference  Here id=address which is same as in Address class  -->

<bean id="address" class="com.cjc.model.Address">
<property name="cityname" value="Mumbai"></property>
<property name="areaname" value="kharghar"></property>
</bean>

</beans>
